* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #a435ef;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

/* My Learning*/
.myLearning {
    position: relative;
    cursor: pointer;
}

.myLearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    top: 30px;
    width: 100px;
    right: 0;
    display: none;
}

.myLearning:hover .myLearning__popup {
    display: block;
}

.navbar__s3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.catagory {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    border-bottom: solid black 1px;

}

.catagory p {

    border-radius: 20px;
    padding: 15px;
    background-color: #a435ef;
    color: white;
    border: solid rgb(174, 17, 174) 1px;
    cursor: pointer;
}

.catagory p:hover {
    transition: 1s;
    background-color: white;
    color: black;
}

.saleImage img {
    width: 100%;
    position: relative;
}

.saleImage__offer {
    padding: 10px;
    position: absolute;
    top: 190px;
    border: solid black 1px;
    left: 200px;
    width: 350px;
    background-color: white;
    animation-name: sale_image_scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 0;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes sale_image_scale {
    0% {
        transform: scale(0);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.recommended {
    padding: 10px;



}

.recommended_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.coursecard {
    width: 280px;
}

.coursecard img {
    width: 100%;
    height: 60%;
}

.topics {
    padding: 10px;
}

.topics__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;

}

.topics__container p {
    padding: 10px;
    border: solid black 1px;
    flex-grow: 1;
    flex-basis: 25%;
}

.mostpopular {
    padding: 10px;
}

.mostpopular__details {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.mostpopular__details__desc {
    width: 280px;

}

.mostpopular__details__desc img {
    width: 100%;
    height: 60%;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px;
}

.footer__one {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.footer__one_s1 p {
    width: 200px;
    height: 35px;
}

.footer__one_s2 p {
    width: 200px;
    height: 35px;
}

.footer__two {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}